@using RunWebApp.Models
@model Race

@{
    this.Layout = "_Layout";
    this.ViewData["Title"] = "Race Detail";
}

<div class="main-container">
    <section class="bg-white space-sm">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mb-4 mb-sm-0">
                    <img alt="Image" src="@Model.Image" class="rounded img-fluid" />
                </div>
                <div class="col-lg-4 d-flex flex-column justify-content-between mr-auto ml-auto">
                    <div>
                        <h1 class="mb-2">@Model.Title</h1>
                        <h2 class="lead mb-3">@Model.Address.City, @Model.Address.State</h2>
                        <div>
                            <span class="badge badge-secondary mr-3">@Model.RaceCategory</span>
                        </div>

                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="space-sm">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-md-8 col-lg-7">
                    <h5 class="mb-4">Overview</h5>
                    <article>
                        @Model.Description
                    </article>
                </div>

            </div>
        </div>
    </section>
</div>
